*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #E2D9C8;
}
nav{
    position: relative;
}
nav h2{
    position: absolute;
    top: 20px;
    left: 40px;
    color: whitesmoke;

}
nav i{
    color: whitesmoke;
    font-size: 20px;
}
nav .main{
    width: 100%;
    position: absolute;
    top: 20px;
    text-align: center;
}
.main ul li{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0px 20px;
}
nav .main a{
    font-size: 20px;
    color: lightgray;
    text-decoration: none;
}
.main ul li a:hover{
    background-color: grey;
    padding: 10px;
    border-radius: 50px;
    font-size: 36px;
}
nav p{
    position: absolute;
    top: 20px;
    right: 30px;
}

.banner-1 img{
    width: 100%;
}
.ban_text{
    position: absolute;
    top: 28vh;
    left: 50%;
    padding: 10px ;
    align-items: left;
}
.ban_text h2{
    font-size: 30px;
    color: white;
}
.ban_text h1{
    font-size: 36px;
    color: white;
}
.btn-1{
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    outline: none;
}
.btn-1:hover{
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.icon{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding: 20px ;
    align-items: center;

}
.icon i{
    font-size: 50px;
    padding: 10px 50px;
    color: #30261C;
}
.home_page{
    background-color: white;
    width: 100%;
}
.home_page h1{
    padding-top: 40px;
    text-align: center;
    font-weight: 400;
}
.sty {
    width: 100%;
    height: 340px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    line-height: 1.5;
    background-color: #F1F0EE;
    box-shadow: 10px 10px 10px grey;
}
.sty:hover{
    width: 250px;
    cursor: pointer;
    zoom: 120%;
}
.sty img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}
.shop{
    border-radius: 20px;
    width: 220px;
    height: 300px;
}
.sty h3{
    font-size: 24px;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 100;
}
.sty p{
    text-align: left;
    padding-left: 10px;
    font-size: 11px;
    font-weight: 100;
    color: grey;
}
.sty1{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 10px;
}
.sty1 p{
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.btn-2{
    font-size: 14px;
    padding: 10px;
    border: 1px solid #30261C;
    border-radius: 20px;
    color: white;
    background-color: #30261C;
}
.btn-2:hover{
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}
.banner2{
    position: relative;
}
.banner2 img{
    width: 100%;
}
.banner2-al p{
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 56px;
    color: #F1F0EE;
}
.banner2-al .btn-3{
    position: absolute;
    top: 150px;
    left: 60px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: #E2D9C8;
    color: #30261C;
    border: none;
    border-radius: 30px;
}
.btn-3:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size:22px ;
}
.home_page h4{
    padding-top : 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.home_page h2{
    text-align: center;
    padding-top: 10px;
}
.review{
    display: flex;
    justify-content: space-around;
    
}
.a{
    position: relative;
    width: 350px;
    height: 200px;
    border: 1px solid #E2D9C8;
    border-radius: 20px;
    padding-top:10px ;
    padding-left: 10px;
    background-color: #F1F0EE;
    box-shadow: 10px 10px 10px gray;
}
.a:hover{
    zoom: 120%;
}
.a img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 2px ;
}
.a p{
    position: absolute;
    top:22px;
    left: 80px;
    font-size: 22px;

}
.a11 p{
    position: absolute;
    top: 42px;
    font-size: 14px;
}
.og_review p{
    position: relative;
    left: 5px;
    font-size: 14px;
    color: rgb(58, 58, 58);
}
.ban_3{
    position: relative;
}
.ban_3 img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    margin-bottom: -10px;
}
.ban_3 h2{
    position: absolute;
    top: 40px;
    left: 30px;
}
.ban_3 p{
    position: absolute;
    top: 75px;
    left: 30px;
    color: rgb(39, 39, 39);
}
.btn-4{
    position: absolute;
    top: 130px;
    left: 30px;
    width: 300px;
    text-align: left;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 60px;
    color: gray;
}
.btn-5{
    position: absolute;
    top: 130px;
    left: 340px;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #30261C;
}
footer{
    width: 100%;
    height: 50vh;
    background-color: #30261C;
    color: #E2D9C8;
    margin: 0px;
}
.last h2{
    padding-top: 50px;
    padding-left: 0px;
    font-size: 36px;
    font-weight: 400;
}
.last1 h3{
    color: lightgray;
    padding-top: 55px;
    font-size: 18px;
    font-weight: 300;
}
.last2 li{
    padding-top: 25px;
    list-style: none;
    color: gray;
}
.social p{
    padding-top: 60px;
    font-size: 16px;
    font-weight: 600;
    color: lightgray;
}
.social i{
    font-size: 20px;
    color: grey;
}
.col-1{width:8.33% ;}
.col-2{width:16.66% ;}
.col-3{width:25% ;}
.col-4{width:33.33% ;}
.col-5{width:41.66%;}
.col-6{width:50% ;}
.col-7{width:58.33% ;}
.col-8{width:66.66% ;}
.col-9{width:75% ;}
.col-10{width:83.33% ;}
.col-11{width:91.66% ;}
.col-12{width:100%;}

.row::after{
    content: "";
    clear:both ;
    display:table ;
}
[class*="col-"]{
    float:left;
    padding: 25px 50px;
}
.container{
    position: relative;
    padding-left:15px ;
    padding-right:15px ;
    margin-left:auto ;
    margin-right:auto ;
}
@media(width<1200px){
    .ban_text{
        top: 20vh;
        left: 50%;
    }
    .ban_text h2{
        font-size: 32px;
    }
    .ban_text h1{
        font-size: 34px;
    }
    .btn-1{
        font-size: 11px;
    }
    .sty {
        width: 220px;
        height: 355px;
        margin-left: -40px;
    }
    .sty:hover{
        width: 220px;
        zoom: 110%;
    }
    .a{
        width: 300px;
        height: 200px;
    }
    .a p{
        top:22px;
        left: 80px;
        font-size: 20px;
    }
    .a11 p{
        top: 42px;
        font-size: 14px;
    }
    .og_review p{
        left: 5px;
        padding-right: 10px;
        font-size: 13px;
    }
    .last h2{
        padding-top: 50px;
        margin-left: -40px;
        font-size: 26px;
    }
    .last2 li{
        font-size: 14px;
    }
}
@media(width<980px){
    .ban_text{
        top: 12vh;
        left: 50%;
    }
    .ban_text h2{
        font-size: 20px;
    }
    .ban_text h1{
        font-size: 20px;
    }
    .btn-1{
        font-size: 10px;
    }
    .sty {
        width: 160px;
        height: 250px;
        margin-left: -40px;
    }
    .sty:hover{
        width: 160px;
        zoom: 110%;
    }
    .sty img {
        width: 120px;
        height: 120px;
    }
    .shop{
        border-radius: 20px;
        width: 220px;
        height: 300px;
    }
    .sty h3{
        font-size: 18px;
        padding-top: 0px;
    }
    .sty p{
        font-size: 10px;
    }
    .sty1{
        padding-top: 5px;
        padding-right: 10px;
    }
    .sty1 p{
        padding-top: 5px;
        font-size: 16px;
    }
    .btn-2{
        font-size: 10px;
        padding: 10px;
    }
    .btn-2:hover{
        font-size: 16px;
    }
    .banner2-al p{
        left: 30px;
        font-size: 36px;
    }
    .banner2-al .btn-3{
        position: absolute;
        top: 120px;
        left: 30px;
        font-size: 18px;
    }
    .btn-3:hover{
        font-size:20px ;
    }
    .a{
        width: 250px;
        height: 180px;
        margin-left: -12px;
    }
    .a p{
        top:16px;
        font-size: 18px;
        margin-left: -10px;
    }
    .a11 p{
        top: 36px;
        font-size: 12px;
    }
    .og_review p{
        padding-top:10px ;
        font-size: 12px;
    }
    .a img{
        width: 50px;
        height: 50px;
    }
    .container{
        width: 940px;
    }
    .last h2{
        padding-top: 20px;
        margin-left: -60px;
        font-size: 26px;
    }
    .last1 h3{
        padding-top: 60px;
        font-size: 14px;
        margin-left: -180px;
    }
    .last2 li{
        padding-top: 20px;
        margin-left: -180px;
    }
    .social{
        position: absolute;
        top: 25px;
        right: 160px;
        font-size: 14px;
        color: #F1F0EE;
        padding: 0px 0px;
    }
    

}